DJANGO_SECRET_KEY=django_secret_key
DJANGO_DEBUG=True

STRIPE_PUBLIC_KEY_USD=pk_test
STRIPE_SECRET_KEY_USD=sk_test

STRIPE_PUBLIC_KEY_EUR=pk_test
STRIPE_SECRET_KEY_EUR=sk_test

INTERNAL_IPS=127.0.0.1 172.17.0.1 172.18.0.1