{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Items {% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://js.stripe.com/dahlia/stripe.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var stripe = Stripe('{{ stripe_public_key }}');
        
        document.querySelectorAll('.buy-button').forEach(function(button) {
            button.addEventListener('click', function() {
                var itemId = this.dataset.itemId;
                fetch(`/buy/${itemId}`)
                    .then(response => response.json())
                    .then(session => window.location.href = session.session_url);
            });
        });
    });
</script>